body{
    background-color: antiquewhite;
}
#todo{
    justify-content: center;
    margin-top: 200px;
    display: flex;
}
#um{
    height: 500px;
    width: 280px;   
    background-color: #F7F7F7;
    padding-left:5px;
    padding-right:15px;
    padding-top: 0px;
    padding-bottom:25px;
    margin: 20px;
    border-radius: 5px;
}
#dois{
    height: 500px;
    width: 280px;
    background-color: #F7F7F7;
    padding-left:5px;
    padding-right:15px;
    padding-top: 0px;
    padding-bottom:25px;
    margin: 20px;
    border-radius: 5px;
}
#tres{
    height: 500px;
    width: 280px;
    background-color: #F7F7F7;
    padding-left:5px;
    padding-right:15px;
    padding-top: 0px;
    padding-bottom:25px;
    margin: 20px;
    border-radius: 5px;
}
#quatro{
    height: 500px;
    width: 280px;
    background-color: #F7F7F7;
    padding-left:5px;
    padding-right:15px;
    padding-top: 0px;
    padding-bottom:25px;
    margin: 20px;
    border-radius: 5px;
}


.titulo1{
    color:red;
    font-size: 30px;
    font-family: "Big Shoulders Display", sans-serif;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
}
.titulo2{
    color:rgb(255, 196, 0);
    font-size: 30px;
    font-family: "Big Shoulders Display", sans-serif;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
}
.titulo3{
    color:rgb(36, 255, 153);
    font-size: 30px;
    font-family: "Big Shoulders Display", sans-serif;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;
}
.titulo4{
    color:rgb(68, 0, 255);
    font-size: 30px;
    font-family: "Big Shoulders Display", sans-serif;
    margin-left: 25px;
    margin-top: 15px;
    text-align: center;     
}

.texto{
    color:rgb(116, 116, 116);
    font-size: 19px;
    font-family: "Lexend Deca", sans-serif;
    text-align: left;
    margin-left: 20px;
    text-align: center;

}
.img{
    margin-left: 25px;
    margin-top: 30px;
    height: 150px;
    width: 150px;
    margin-left: 80px;
}
.botao1{
    padding: 10px;
    border:none;
    border-radius: 2px;
    background-color: rgb(255, 0, 0);
    color:#ffffff;
    margin-top: 58px;
    width: 290px;
    height: 65px;
    font-size: 22px;
}

.botao2{
    padding: 10px;
    border:none;
    border-radius: 2px;
    background-color: rgb(255, 196, 0);
    color:#ffffff;
    margin-top: 58px;
    width: 290px;
    height: 65px;
    font-size: 22px;
}
.botao3{
    padding: 10px;
    border:none;
    border-radius: 2px;
    background-color: rgb(36, 255, 153);
    color:#ffffff;
    margin-top: 57px;
    width: 290px;
    height: 65px;
    font-size: 22px;
}
.botao4{
    padding: 0px;
    border:none;
    border-radius: 2px;
    background-color: rgb(68, 0, 255);
    color:#ffffff;

    margin-top: 35px;
    width: 290px;
    height: 65px;
    font-size: 22px;
}
